In [1]:
import sqlite3
import pandas as pd
from Dude import createSQL

In [2]:
conn = sqlite3.connect('../data/homework_data.db')
c = conn.cursor()

In [32]:
table = pd.read_sql_query(
    """
    SELECT route_id
            stop_sequence,
            stop_id,
            direction_id
            From trips
    Join stop_times 
    on (trips.trip_id = stop_times.trip_id)
    """
    ,
    conn
)
table

        stop_sequence stop_id  direction_id
0                0078  008569             0
1                0078  043341             0
2                0078  F02984             0
3                0078  F02985             0
4                0078  F03148             0
...               ...     ...           ...
4444655            H5  F00488             1
4444656            H5  F00511             1
4444657            H5  F00579             1
4444658            H5  F00625             1
4444659            H5  F00633             1

[4444660 rows x 3 columns]

In [22]:
createSQL("t1",table, conn)

In [3]:
t2 = pd.read_sql_query(
    """
    SELECT 
    stop_id, COUNT(stop_id) as stop_count
    FROM trips
    Join stop_times on stop_times.trip_id = trips.trip_id
    group by (stop_id)
    ;


    """,conn)

In [6]:
createSQL("mynodes",t2, conn)

In [36]:
gdata = pd.read_sql_query(
    """
    SELECT stops.stop_id, stop_name, stop_lat, stop_lon, mynodes.stop_count
    FROM stops
    Join mynodes
    on stops.stop_id = mynodes.stop_id
    ;
    """
    ,conn)
createSQL("gdata",gdata, conn)